{% extends 'base.html' %}

{% block content %}
<div class="client-entry">
  <h2>{{ object.name }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
    <p>{{ object.note }}</p>
   {% for comment in object.comments.all %}
          <p>
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
        {% endfor %}
  </div>

  <p><a href="{% url 'client_edit' client.pk %}">Edit</a> | <a href="{% url 'client_delete' client.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'client_list' %}">All Clients</a>.</p>
{% endblock content %}
